{% load static %}
<html>

<head>
  <title>MyRoutes {% if request.user.is_authenticated %}{{ user.username }}{% endif %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block head %}{% endblock %}
</head>

<body>
  <div id="content" class="container">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">MyRoutes</a>
    </nav>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Apps</h5>
        <p class="card-text">{% block content %}{% endblock %}</p>
      </div>
    </div>
  </div>
  {% block script %}{% endblock %}
</body>

</html>