{% extends "base.html" %}
{% block content %}

<div>
    <ul class="list-group">
        {% for object in object_list %}
        <li class="list-group-item">
            <div>
                <a href="{{object.get_absolute_url}}">{{object.username}}</a>
                <span class="badge badge-primary badge-pill">{{object.routes.count}}</span>
            </div>

            <ul class="list-group">
                {% for route in object.routes.all %}
                <li class="list-group-item">
                    <a href="{{route.get_absolute_url}}">{{route.name}}</a>
                    <span class="badge badge-primary badge-pill">{{route.images.count}}</span>
                    <ul class="list-group">
                        {% for image in route.images.all %}
                        <li class="list-group-item">
                            <a href="{{image.get_absolute_url}}">
                                <img src="/media/{{image.image}}" alt="{{image.title}}" class="img-thumbnail"
                                    style="max-width: 100px; max-height: 100px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {{image.title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}