{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'myapp_AppUser_list' %}">
        AppUser Listing
    </a>
</p>

<table class="table">
    <tr>
        <td>username</td>
        <td>{{ object.username }}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>
            <a href="mailto:{{ object.email }}">
                {{ object.email }}
            </a>
        </td>
    </tr>
    <tr>
        <td>first_name</td>
        <td>{{ object.first_name }}</td>
    </tr>
    <tr>
        <td>last_name</td>
        <td>{{ object.last_name }}</td>
    </tr>
    <tr>
        <td>last_updated</td>
        <td>{{ object.last_updated }}</td>
    </tr>
    <tr>
        <td>created</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>map</td>
        <td>
            <div id="map" style="width: 400px; height: 400px"></div>
        </td>
    </tr>
    <tr>
        <td>routes</td>
        <td>
            <ul class="list-group">
                {% for route in object.routes.all %}
                <li class="list-group-item">
                    <a href="{{route.get_absolute_url}}">{{route.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endblock %}

{% block head %}
<link href="//npmcdn.com/leaflet/dist/leaflet.css" rel="stylesheet" />
<style>
    .leaflet-shadow-pane {
        display: none;
    }

    .leaflet-marker-pane {
        display: none;
    }
</style>
{% endblock %}

{% block script %}
<script src="//npmcdn.com/leaflet/dist/leaflet-src.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script>
    var map = L.map('map');

    L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/slopemap/{z}/{x}/{y}.png', {
        attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
    }).addTo(map);

    map.setView([35.91685961322499, 138.71269226074222], 7);
    // {% for route in object.routes.all %}
    omnivore.kml('{{ route.file.url }}', null,
        L.geoJson(null,
            { style: { color: 'red', weight: 1, opacity: 1 }, })).addTo(map);
    // {% endfor %}
    map.on('move', function (e) {
        console.log(map.getCenter());
    });
</script>
{% endblock %}