{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'myapp_AppUser_list' %}">
        AppUser Listing
    </a>
</p>

<table class="table">
    <tr>
        <td>username</td>
        <td>{{ object.username }}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{ object.email }}</td>
    </tr>
    <tr>
        <td>first_name</td>
        <td>{{ object.first_name }}</td>
    </tr>
    <tr>
        <td>last_name</td>
        <td>{{ object.last_name }}</td>
    </tr>
    <tr>
        <td>last_updated</td>
        <td>{{ object.last_updated }}</td>
    </tr>
    <tr>
        <td>created</td>
        <td>{{ object.created }}</td>
    </tr>
</table>

{% endblock %}